<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">ViewBinder Admin</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav viewbind" data-viewbind-view="Partials/sidemenu"></ul>

    <ul class="nav navbar-nav navbar-right navbar-user viewbind" data-viewbind-view="Partials/toprightnavbar"></ul>
</div><!-- /.navbar-collapse -->